@model IEnumerable<NewsProject.Models.DB.Quiz>

@{
    ViewData["Title"] = "QuizList";
    var result = TempData["Result"];
}
@if (result != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@result</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr />
<div class="row">
    <div class="col-xl-9 col-md-9">
        <h5 id="font" class="justify-content-end text-danger">Quiz List</h5>
    </div>
    <div class="col-xl-3 col-md-3">
        <a class="btn bg-success bd-gradient fonttype" asp-controller="Admin" asp-action="AdminEditorAuthorFrontPage">Back</a>
    </div>
</div>
<hr />
<div id="font" class="row justify-content-center border border-1" style="background-color:whitesmoke">
    <div class="col">
        <table class="table table-bordered table-success">
            <thead>
                <tr>
                    <th style="width:50px;">Quetion</th>
                    <th style="width:55px;">Option-1</th>
                    <th style="width:55px;">Option-2</th>
                    <th style="width:55px;">Option-3</th>
                    <th style="width:55px;">Answer</th>
                    <th style="width:30px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Question</td>
                        <td>@item.Option1</td>
                        <td>@item.Option2</td>
                        <td>@item.Option3</td>
                        <td>@item.Answer</td>
                        <td>
                            <a class="text-black fw-bold" asp-action="EditQuiz" asp-route-id="@item.Id">Edit</a>
                            &nbsp;&nbsp;
                            <a class="text-danger fw-bold" asp-action="DeleteQuiz" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr />